---
import '../styles/global.css';
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const pageTitle = "ホームページ";
---

<Layout title="Welcome to Astro.">
  <main>
		<a href="/">ホーム</a>
    <a href="/about/">概要</a>
    <a href="/blog/">ブログ</a>
   <!-- <h1>ホームページ</h1> -->
	 <h1>{pageTitle}</h1>
  </main>
</Layout>

<style>
	html {
		background: #fff;
	}
  
</style>
